<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Untitled-iOS-Default-1024x1024@1x</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Used to track hand gestures for controlling music.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used to capture audio for video recordings.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to save your gesture-controlled music videos.</string>
</dict>
</plist>
